/*--Table Propertie----------------------*/
table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;

    font: normal 15px Segoe UI;
    color: black;
    
    text-align: center;

    border-style: solid;
    border-color: rgba(0, 0, 0, 0.50);
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.30);
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.50);
}

th {
    padding: 5px;

    background-color: #4CAF50;

    font: normal 15px Segoe UI;
    color: white;
    
    text-align: center;
    text-shadow: 2px 0px 2px #333;
}
/*---------------------------------------*/